.l-layoutPage {
  min-height: calcRem(500px);
  padding-bottom: calcRem(30px);
  .l-wrapMain {
    display: grid;
    grid-template-columns: calcRem(240px) 1fr;
    gap: calcRem(40px);
    @include bp('sp') {
      grid-template-columns: 1fr;
      gap: calcRem(20px);
    }
    &_left {
      @include bp('sp') {
        order: 2;
      }
    }
  }
  .p-categoryMenu {
    h2 {
      font-size: calcRem(16px);
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 1.4;
      margin-bottom: calcRem(15px);
      padding-left: calcRem(5px);
      @include bp('sp') {
        margin-bottom: calcRem(10px);
      }
      a {
        color: #444;
      }
    }
    ul {
      display: flex;
      flex-flow: column;
      li {
        border-bottom: 1px solid #DBDBDD;
        a {
          color: #222;
          display: block;
          padding: calcRem(11px);
          text-decoration: none;
          transition: 0.2s;
          position: relative;
          font-size: calcRem(13px);
          @include bp('sp') {
            padding: calcRem(5px) calcRem(10px);
          }
          &:hover {
            background: #F7F7F7;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .p-headingTitle {
    h1 {
      font-size: calcRem(22px);
      text-transform: uppercase;
      padding-bottom: calcRem(16px);
      border-bottom: 1px solid #ddd;
      margin-bottom: calcRem(15px);
      font-weight: 500;
      @include bp('sp') {
        font-size: calcRem(18px);
        padding-bottom: calcRem(10px);
      }
    }
  }
}

.p-taxDetail {
  padding-top: calcRem(40px);
  @include bp('sp') {
    overflow: hidden;
  }
  &_top {
    text-align: center;
    margin-bottom: calcRem(50px);
    @include bp('sp') {
      margin-bottom: calcRem(30px);
    }
    p {
      font-size: calcRem(20px);
      img {
        max-width: calcRem(300px);
        @include bp('sp') {
          max-width: calcRem(180px);
        }
      }
      @include bp('sp') {
        font-size: calcRem(14px);
      }
      &:last-child {
        position: relative;
        font-weight: 500;
        letter-spacing: calcRem(3px);
        &::before {
          background-color: #000;
          content: '';
          display: block;
          height: 1px;
          margin: calcRem(20px) auto calcRem(25px);
          width: calcRem(100px);
          @include bp('sp') {
            margin: calcRem(20px) auto;
            width: calcRem(60px);
          }
        }
      }
    }
  }
  &List {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    @include bp('sp') {
      grid-template-columns: repeat(1,1fr);
      gap: calcRem(30px);
    }
  }
  &Item {
    position: relative;
    &:hover {
      @include hover-op;
    }
    &_body {
      h3 {
        color: #444;
        display: block;
        font-size: calcRem(40px);
        font-weight: 300;
        position: absolute;
        top: calcRem(200px);
        left: 0;
        width: 60%;
        text-align: center;
        text-transform: capitalize;
        @include bp('sp') {
          font-size: calcRem(25px);
          top: calcRem(100px);
          left: calcRem(-30px);
        }
        &::after {
          border: 1px solid #DDD;
          background-color: #FFF;
          content: 'Chi tiết';
          color: #000;
          display: block;
          font-size: calcRem(18px);
          font-weight: 300;
          line-height: 1.4;
          margin: calcRem(30px) auto 0;
          padding: calcRem(2px) calcRem(10px);
          width: calcRem(100px);
          @include bp('sp') {
            margin: calcRem(10px) auto 0;
            font-size: calcRem(16px);
            width: calcRem(60px);
          }
        }
      }
    }
    &:nth-of-type(even) {
      .p-taxDetailItem_body {
        h3 {
          left: inherit;
          right: 0;
          @include bp('sp') {
            right: calcRem(-30px);
          }
        }
      }
    }
  }
}