body {
  padding-top: calcRem(90px);
  &.mask {
    &::after {
      content: '';
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,.6);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      animation: fadeIn .2s ease-in-out;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

.owl-theme {
  .owl-dots {
    display: flex;
    justify-content: center;
    gap: calcRem(2px);
    .owl-dot {
      span {
        background: #CED2D7!important;
        border: 2px solid #CED2D7!important;
        box-shadow: none!important;
        cursor: pointer!important;
        height: 15px!important;
        width: 15px!important;
        transition: 0.2s;
        vertical-align: middle;
      }
      &.active {
        span {
          background: rgba(255, 255, 255, 1) none repeat scroll 0 0!important;
          border: 2px solid #000!important;
          box-shadow: none!important;
        }
      }
    }
  }
  .owl-nav {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    margin-top: calcRem(-10px);
    button {
      font-size: calcRem(80px) !important;
      outline: none;
      &:hover {
        background: inherit !important;
        color: inherit !important;
      }
    }
  }
}
.p-slide {
  margin-bottom: calcRem(40px);
}

.c-page {
  &_home {
    .p-branch {
      margin-bottom: calcRem(40px);
      &List {
        padding: 0 calcRem(40px);
      }
      &Item {
        a {
          display: block;
          padding: 0 calcRem(10px);
          text-align: center;
        }
        img {
          width: auto !important;
          margin: auto !important
        }
      }
    }
    
    .p-aboutUs {
      padding: calcRem(20px) 0;
      background: #fcfcfc;
      border-top: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2;
      &_ct {
        .post-content {
          p {
            font-size: calcRem(15px);
            margin-bottom: calcRem(5px) !important;
          }
        }
      }
    }
  }
}
